/*Define body style */
body {
    background-color: lightgray;
    font-family: Arial, Verdana, sans-serif;
  }
  
  
  /* Header style*/
  .container1_header {
    border: 5px solid hotpink;
    padding: 10px;
    text-align: center;
    background: dimgray;
    color: pink;
    font-size: 30px;
    font-family: fantasy;
  }
  /*Picture block style */
  .container2_pictures {
  border: 5px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  }

  /*Container 1 style */
  .container3_me {
  border: 5px solid lightskyblue;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
  /*Container 2 style */
  .container4_footer {
    border: 5px solid mediumpurple;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }